<nav class="navbar navbar-expand-lg navbar-light bg-light">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Dashboard<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Transactions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Dependencts</a>
      </li>
    </ul>
</nav>

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Transactions</th>
      <th>Merchant Name</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Reward Earned</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>JCPenny</td>
      <td>100$</td>
      <td>May/1/2017</td>
      <td>2.465$</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Wegmens</td>
      <td>55$</td>
      <td>May/1/2017</td>
      <td>1.05$</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Star Bucks</td>
      <td>6$</td>
      <td>May/2/2017</td>
      <td>0.001$</td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="jumbotron">
<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Dependents</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Credit Card Number</th>
      <th>Total Rewards Earned</th>
      <th>Total Capital One Points Earned</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Reza</td>
      <td>Dehgan</td>
      <td>12374987598747392</td>
      <td>100$</td>
      <td>50$</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Shiva</td>
      <td>Omrani</td>
      <td>08941287053488893</td>
      <td>50$</td>
      <td>20$</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Vooroj</td>
      <td>Vooroojian</td>
      <td>0952340985438892</td>
      <td>20$</td>
      <td>10$</td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="container">
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <%= line_chart Transaction.all.group_by_month(:date, last: 12, current: false).sum('amount'),
    title: 'Monthly Spending',
    color: 'green',
    library:{
        yAxis: {
            labels: {
                format: '${value}'
            }
        },
        tooltip: {
            pointFormat: 'Total Spent: <b>{point.y}</b>',
            xDateFormat: '%B',
            valuePrefix: '$'
          }
    }%>
  </div>
  <div class="col-md-4">
    <%= pie_chart Transaction.group(:merchant).count, title: 'Merchants Type' %>
 </div>
  <div class="col-md-4">
  <%= column_chart Transaction.all.group_by_day_of_week(:date, format: "%a").count, title: 'Transactions per day' %>
  </div>
</div>